
.modal{
    background: #fff;
    width: 100%;
    max-height: 80vh;
    overflow: auto;
    max-width: 650px;
    border-radius: 14px;
    padding: 24px;
    position: relative;

    animation: fadeIn 0.2s ease;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: scale(0.90);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}